<!--
Crashing Waves: Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev pd2
K20 -- Throw Some Forking STUYLE On It/Forking Repos/As a duo, we picked a group
to fork and then added our handmade CSS to their code.
2021-11-25
time spent: 1.5 hours
-->

<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Base Template
-->

<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}TITLE NEEDED{% endblock %} - CircleStories</title>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    </head>
    <body>
        {% block body %}
            {% block nav %}
                <!-- Nav -->
                <p>
                  <nav>
                    <a href="{{ url_for('index') }}">Home</a>
                    {% if "username" in session %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                  </nav>
            {% endblock %}
            <div class="bodycontent">
            {% block content %}
                CONTENT NEEDED
            {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
