<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Base Template
-->

<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}TITLE NEEDED{% endblock %} - CircleStories</title>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    </head>
    <body>
        {% block body %}
            {% block nav %}
                <!-- Nav -->
                <p>
                  <nav>
                    <a id="homeButton" href="{{ url_for('index') }}">Home</a>
                  </nav>
                    {% if "username" in session %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </p>
            {% endblock %}
            {% block content %}
                CONTENT NEEDED
            {% endblock %}
        {% endblock %}
    </body>
</html>
